In [1]:
import pandas as pd

In [3]:
A = [1,2,3,4]
B = [9,4,3,4]
data = pd.DataFrame({'A': A, 'B': B})
data

   A  B
0  1  9
1  2  4
2  3  3
3  4  4

In [6]:
# Create a new column containing an idicator variable C = 1 if A + B > 6, C = 0 otherwise
data = data.assign(C = 0)

In [7]:
data.loc[data.A + data.B > 6, 'C'] = 1

In [8]:
data

   A  B  C
0  1  9  1
1  2  4  0
2  3  3  0
3  4  4  1